<mat-card>
  <mat-toolbar color="primary"> Formulario nba </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Position</mat-label>
        <mat-select formControlName="position">
          <mat-option value="PG">PG</mat-option>
          <mat-option value="SG">SG</mat-option>
          <mat-option value="SF">SF</mat-option>
          <mat-option value="PF">PF</mat-option>
          <mat-option value="C">C</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('position')?.invalid">
          {{ getErrorMessage("position") }};
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="name" #name />
        <mat-hint align="end">{{ name.value.length || 0 }} / 100</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">
          {{ getErrorMessage("name") }};
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>PPG</mat-label>
        <mat-select formControlName="ppg">
          <mat-option value="null"></mat-option>
          <mat-option value="26">26</mat-option>
          <mat-option value="25">25</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('ppg')?.invalid">
          {{ getErrorMessage("ppg") }};
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
